<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Abstract components with tailwind</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="p-8 m-8 font-sans leading-normal">

<!--   
<h1 class="text-purple bg-grey-lighter p-8 mt-8 hover:text-blue">Hello Vorld!</h1>

<div class="group bg-red hover:bg-purple p-8">
  <h2 class="group-hover:text-white">an title</h2>
  <p class="group-hover:text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quo hic inventore dolor sint distinctio accusamus iure at officiis voluptatem consequatur fugiat explicabo, sunt asperiores eligendi minima. Error, architecto animi?</p>
</div> -->
<div class="container">

</div>

<h2>an testering</h2>
<div class="shadow-lg rounded overflow-hidden sm:flex max-w-md">
  <div style="background-image:url('https://lh3.googleusercontent.com/-F2uGkj5vnHk/Wow15_3nuXI/AAAAAAAAACM/78hJBxnuR1g2mhDq5uLQHPmFKawBmmbwgCL0BGAYYCw/h3000/2018-02-20.jpg')"
    class="bg-cover bg-center h-48 w-auto sm:h-auto sm:w-64"
  >

  </div>
  <!-- <img src="https://lh3.googleusercontent.com/-F2uGkj5vnHk/Wow15_3nuXI/AAAAAAAAACM/78hJBxnuR1g2mhDq5uLQHPmFKawBmmbwgCL0BGAYYCw/h3000/2018-02-20.jpg" alt="awesome"> -->
  <div class="p-4">
    <h2 class="font-black mb-3">Hello My Friend</h2>
    <p class="mb-4 text-small text-grey-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nihil ipsa esse facere porro itaque sequi, atque numquam eaque enim adipisci illo, non quidem autem, sunt similique rerum dignissimos nostrum.</p>
    <button class="bg-purple hover:bg-red text-white py-3 px-6 font-bold rounded-full mt-1 mb-2">Clickeale</button>
  </div>
</div>
</body>
</html>
