<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Abstract components with tailwind</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="">

  
<h1 class="text-purple bg-grey-lighter p-8 mt-8 hover:text-blue">Hello Vorld!</h1>

<div class="group bg-red hover:bg-purple p-8">
  <h2 class="group-hover:text-white">an title</h2>
  <p class="group-hover:text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora quo hic inventore dolor sint distinctio accusamus iure at officiis voluptatem consequatur fugiat explicabo, sunt asperiores eligendi minima. Error, architecto animi?</p>
</div>

</body>
</html>
